@grid-width: 600px;
@cell-width-single: @grid-width;
@cell-width-double: @grid-width / 2;
@cell-width-triple: @grid-width / 3;
@cell-width-quadruple: @grid-width / 4;

.grid {
    width: @grid-width;
    
    margin: 0 auto;
    padding: 0;
}

.grid > section {
    overflow: hidden;
    
    padding: 6px 0 6px 0;

    border-top: 1px solid hsl(0, 0%, 80%);
}

.grid > section > article {
    border: none;
/*
    border-top: 1px solid hsl(0, 0%, 80%);
    border-right: 1px solid hsl(0, 0%, 80%);
*/

    width: 768px;
    height: 160px;
    
    float: left;
    
    padding: 10px;
    
    overflow: hidden;
    
    > header {
        > .media {
            border: none;
            padding: 0;
        }
    }
    
    section p {    
        &:first-of-type {
            max-height: 120px;
        }
    }
    
    &:hover {
        background-color: hsl(0, 0%, 86%);    
    }
}

.grid > section.single > article {
    width: @cell-width-single;
    
    height: 180px;
    
    > header {
        h1 {
            font-size: 32px;
            line-height: 40px;
        }
        
        .media {
            width: 167px;
            float: left;
            margin: 0 10px 0 0;
        }
    }
    
    section p {
        display: block;
       
        &:first-of-type {
            max-height: none;
        }
    }
}

.grid > section.double {
    > article {
        width: @cell-width-double;

        > header {
            > .media {
                float: left;
                width: 140px;
                max-width: 140px;
                margin: 0 10px 0 0;
            }
        }
    }    
}

.grid > section.triple > article {
    width: @cell-width-triple;
}

.grid > section.quadruple >  article {
    width: @cell-width-quadruple;
    
    > header {
        > .media {
            display: none;
        }
    }
}