.grid {
    width: 768px;
    
    margin: 0 auto;
    padding: 0;
}

.grid > section {
    overflow: hidden;
    
    margin: 10px 0 0 0;
}

.grid > section > article {
    border: none;
    border-top: 1px solid hsl(0, 0%, 80%);
    border-right: 1px solid hsl(0, 0%, 80%);

    width: 768px;
    height: 160px;
    
    float: left;
    
    padding: 10px;
    
    overflow: hidden;
    
    section p {    
        &:first-of-type {
            max-height: 120px;
        }
    }
    
/*
    &:hover {
        background-color: hsl(0, 0%, 86%);    
    }
*/
}

.grid > section.single > article {
    width: 758px;
    margin: 0 10px 0 0;
    
    height: 180px;
    
    > header {
        h1 {
            font-size: 32px;
            line-height: 40px;
        }
        
        .media {
            width: 167px;
            float: left;
            margin: 0 10px 0 0;
        }
    }
    
    section p {
        display: block;
       
        &:first-of-type {
            max-height: none;
        }
    }
}

.grid > section.double {

    > article {
        margin: 0 10px 0 0;
                
        > header {
            > .media {
                float: left;
                width: 140px;
                max-width: 140px;
                margin: 0 10px 0 0;
            }
        }
    }
    
    &:nth-child(even) {    
        > article {
            &:nth-child(1) {
                width: 324px;
            }

            &:nth-child(2) {
                width: 424px;
            }
        }
    }

    &:nth-child(odd) {    
        > article {
            &:nth-child(1) {
                width: 424px;
            }
            
            &:nth-child(2) {
                width: 324px;
            }
        }
    }
}

.grid > section.triple > article {
    width: 246px;
    margin: 0 10px 0 0;
}

.grid > section.quadruple >  article {
    width: 192px;
    
    > header {
        > .media {
            display: none;
        }
    }
}